{{ 'hb-newsletter.css' | asset_url | stylesheet_tag }}
<div class="hb_newsletter">
  <div class="container">
    <div class="hb-grid">
      <div class="border-svg left hb-desktop-border">
        <svg width="1571" height="375" viewBox="0 0 1571 375" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-outside-1_164_2911" maskUnits="userSpaceOnUse" x="0" y="0.273438" width="1571" height="374" fill="black">
          <rect fill="white" y="0.273438" width="1571" height="374"/>
          <path d="M1571 348.273C1571 362.081 1559.81 373.273 1546 373.273H27C13.1929 373.273 2 362.081 2 348.273V25.2734C2 11.4663 13.1929 0.273438 27 0.273438H1546C1559.81 0.273438 1571 11.4663 1571 25.2734V348.273Z"/>
          </mask>
          <path d="M1571 348.273C1571 362.633 1559.36 374.273 1545 374.273H26C11.6406 374.273 0 362.633 0 348.273H4C4 361.528 14.2975 372.273 27 372.273H1546C1559.81 372.273 1571 361.528 1571 348.273ZM2 0.273438H1571H2ZM1571 0.273438V373.273V0.273438ZM26 374.273C11.6406 374.273 0 362.633 0 348.273V27.2734C0 12.3618 12.0883 0.273438 27 0.273438C14.2975 0.273438 4 11.4663 4 25.2734V348.273C4 361.528 14.2975 372.273 27 372.273L26 374.273Z" fill="url(#paint0_radial_164_2911)" mask="url(#path-1-outside-1_164_2911)"/>
          <defs>
          <radialGradient id="paint0_radial_164_2911" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(15.8791 373.274) rotate(-13.5511) scale(1905.23 5336.29)">
          <stop stop-color="#FCEDD1"/>
          <stop offset="0.275641" stop-color="#54362A"/>
          <stop offset="0.875857" stop-color="#221518" stop-opacity="0"/>
          </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="border-svg left hb-mobile-border">
        <svg width="384" height="513" viewBox="0 0 384 513" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-outside-1_164_3744" maskUnits="userSpaceOnUse" x="-8.74228e-08" y="0.726488" width="853" height="512" fill="black">
          <rect fill="white" x="-8.74228e-08" y="0.726488" width="853" height="512"/>
          <path d="M853 501.727C853 507.249 848.523 511.727 843 511.727L12 511.726C6.47717 511.726 2 507.249 2 501.726L2.00004 10.7265C2.00004 5.20363 6.47722 0.726488 12 0.726489L843 0.726562C848.523 0.726562 853 5.2037 853 10.7266L853 501.727Z"/>
          </mask>
          <path d="M853 501.727C853 507.802 848.075 512.727 842 512.727L11 512.726C4.92487 512.726 3.43123e-07 507.802 8.74228e-07 501.726L4 501.726C4 506.697 7.58173 510.726 12 510.726L843 510.727C848.523 510.727 853 506.697 853 501.727ZM2.00004 0.726488L853 0.726562L2.00004 0.726488ZM853 0.726562L853 511.727L853 0.726562ZM11 512.726C4.92487 512.726 3.43123e-07 507.802 8.74228e-07 501.726L4.3624e-05 12.7265C4.42034e-05 6.09908 5.3726 0.726488 12 0.726489C7.58177 0.726489 4.00004 5.20363 4.00004 10.7265L4 501.726C4 506.697 7.58173 510.726 12 510.726L11 512.726Z" fill="url(#paint0_radial_164_3744)" mask="url(#path-1-outside-1_164_3744)"/>
          <defs>
          <radialGradient id="paint0_radial_164_3744" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.52775 511.727) rotate(-56.5323) scale(403.665 1159.29)">
          <stop stop-color="#FCEDD1"/>
          <stop offset="0.275641" stop-color="#54362A"/>
          <stop offset="0.44" stop-color="#221518" stop-opacity="0"/>
          </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="border-svg right hb-desktop-border">
        <svg width="1531" height="391" viewBox="0 0 1531 391" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-outside-1_164_2622" maskUnits="userSpaceOnUse" x="0" y="0" width="1531" height="391" fill="black">
          <rect fill="white" width="1531" height="391"/>
          <path d="M0 26C0 12.1929 11.1929 1 25 1H1504C1517.81 1 1529 12.1929 1529 26V366C1529 379.807 1517.81 391 1504 391H25C11.1929 391 0 379.807 0 366V26Z"/>
          </mask>
          <path d="M0 26C0 11.6406 11.6406 0 26 0H1505C1519.36 0 1531 11.6406 1531 26H1527C1527 12.7452 1516.7 2 1504 2H25C11.1929 2 0 12.7452 0 26ZM1529 391H0H1529ZM0 391V1V391ZM1505 0C1519.36 0 1531 11.6406 1531 26V364C1531 378.912 1518.91 391 1504 391C1516.7 391 1527 379.807 1527 366V26C1527 12.7452 1516.7 2 1504 2L1505 0Z" fill="url(#paint0_radial_164_2622)" mask="url(#path-1-outside-1_164_2622)"/>
          <defs>
          <radialGradient id="paint0_radial_164_2622" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1515.47 0.999862) rotate(147.277) scale(475.414 1349.78)">
          <stop stop-color="#FCEDD1"/>
          <stop offset="0.275641" stop-color="#54362A"/>
          <stop offset="0.875857" stop-color="#221518" stop-opacity="0"/>
          </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="border-svg right hb-mobile-border">
        <svg width="382" height="513" viewBox="0 0 382 513" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-outside-1_164_3743" maskUnits="userSpaceOnUse" x="-471" y="0.726562" width="853" height="512" fill="black">
          <rect fill="white" x="-471" y="0.726562" width="853" height="512"/>
          <path d="M-471 11.7266C-471 6.20371 -466.523 1.72656 -461 1.72656H370C375.523 1.72656 380 6.20372 380 11.7266V502.727C380 508.249 375.523 512.727 370 512.727H-461C-466.523 512.727 -471 508.249 -471 502.727V11.7266Z"/>
          </mask>
          <path d="M-471 11.7266C-471 5.65143 -466.075 0.726562 -460 0.726562H371C377.075 0.726562 382 5.65143 382 11.7266H378C378 6.756 374.418 2.72656 370 2.72656H-461C-466.523 2.72656 -471 6.756 -471 11.7266ZM380 512.727H-471H380ZM-471 512.727V1.72656V512.727ZM371 0.726562C377.075 0.726562 382 5.65143 382 11.7266V500.727C382 507.354 376.627 512.727 370 512.727C374.418 512.727 378 508.249 378 502.727V11.7266C378 6.756 374.418 2.72656 370 2.72656L371 0.726562Z" fill="url(#paint0_radial_164_3743)" mask="url(#path-1-outside-1_164_3743)"/>
          <defs>
          <radialGradient id="paint0_radial_164_3743" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(372.472 1.72638) rotate(123.468) scale(403.665 1159.29)">
          <stop stop-color="#FCEDD1"/>
          <stop offset="0.275641" stop-color="#54362A"/>
          <stop offset="0.44" stop-color="#221518" stop-opacity="0"/>
          </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="hb-wrapper">
        <div class="hb-bg-svg hb-bg-svg-top">
          <svg width="389" height="190" viewBox="0 0 389 190" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M317.041 2.78534C313.884 8.9094 310.649 13.5518 305.795 18.1745C303.289 26.3729 293.799 22.5799 295.95 33.1291C285.749 49.8616 268.111 62.327 258.838 80.8374C255.602 80.7189 252.366 80.4818 249.131 80.067C245.027 72.5008 239.581 65.0729 233.86 62.0899C229.993 57.9809 229.223 50.0591 223.6 47.3724C214.544 40.2606 210.164 26.7877 202.449 18.1153C187.751 1.60007 187.001 -15.9227 170.368 -12.584C167.942 -5.6698 161.628 -4.60299 157.327 0.790132C154.17 6.91419 150.934 11.5566 146.081 16.1792C143.575 24.3776 134.085 20.5846 136.236 31.1338C125.246 49.1504 130.908 28.3286 122.444 49.3479C131.264 44.2116 133.868 47.5305 135.229 44.8043C140.576 34.6107 154.742 28.9607 160.168 18.7079C165.239 16.041 169.678 12.3468 172.756 8.3365C174.393 11.8924 177.767 15.2113 184.377 17.6806C189.822 21.8885 193.788 25.9185 197.477 31.5486C205.074 35.4996 199.648 44.1524 210.401 43.9351C221.094 53.3385 228.592 66.4953 238.753 77.9532C238.082 77.7556 237.431 77.5581 236.76 77.3408C218.076 83.4253 198.247 80.1262 179.069 78.8421C167.074 85.0847 155.453 77.4 142.845 82.3585C134.361 76.8666 126.154 80.5411 116.663 81.8844C101.531 78.6643 85.8846 80.3238 70.3374 81.2128C64.7933 71.1377 50.8639 65.5075 45.5763 55.4127C44.2149 52.6865 41.6105 55.9856 32.7912 50.8691C41.2751 71.8884 35.5929 51.0666 46.5825 69.0831C44.6687 78.4075 51.8504 76.5308 55.2834 81.6276C53.2315 81.5881 51.1993 81.5091 49.1671 81.3905C37.7829 84.7489 20.7757 74.0417 13.0612 84.9267C9.39147 86.8824 2.58463 83.6228 1.20666e-06 87.8504C16.7902 89.6086 32.2388 93.1053 48.8909 95.2783C51.1599 94.903 53.4288 93.7374 55.6385 93.6782C52.3831 99.5059 44.5898 97.1551 46.5825 106.796C35.5929 124.812 41.2554 103.99 32.7912 125.01C41.6105 119.873 44.2149 123.192 45.5763 120.466C50.9231 110.272 65.0892 104.622 70.515 94.3696C70.8504 94.1918 71.1661 94.014 71.462 93.856C72.0539 94.0337 72.6853 94.1918 73.3758 94.3301C88.7652 93.6584 103.168 95.2981 118.518 93.3621C122.819 96.8982 124.99 92.1373 128.995 90.8334C148.587 92.8089 169.244 97.1946 188.54 91.4063C197.142 94.5079 206.336 94.2906 215.609 93.3226C222.101 95.4759 227.743 100.276 235.004 97.0365C236.286 96.7007 237.589 96.4043 238.891 96.1278C228.671 107.625 221.153 120.841 210.401 130.284C199.648 130.047 205.074 138.72 197.477 142.671C193.808 148.301 189.822 152.311 184.377 156.539C177.767 159.008 174.393 162.327 172.756 165.883C169.678 161.892 165.239 158.178 160.168 155.511C154.742 145.239 140.576 139.609 135.229 129.415C133.868 126.689 131.264 129.988 122.444 124.871C130.928 145.891 125.246 125.069 136.236 143.085C134.065 153.635 143.575 149.842 146.081 158.04C150.954 162.682 154.17 167.325 157.327 173.429C161.628 178.802 167.961 179.889 170.368 186.803C187.021 190.142 187.751 172.619 202.449 156.104C210.164 147.432 214.544 133.939 223.6 126.847C229.243 124.14 230.012 116.219 233.86 112.129C239.443 109.225 244.77 102.054 248.854 94.6857C252.011 94.4091 255.188 94.3103 258.345 94.3696C267.46 113.453 285.552 126.057 295.95 143.085C293.78 153.635 303.289 149.842 305.795 158.04C310.668 162.682 313.884 167.325 317.041 173.429C321.342 178.802 329.688 181.746 332.115 188.66C348.767 191.999 347.465 172.619 362.164 156.104C369.878 147.432 374.258 133.939 383.314 126.847C388.957 124.14 389.726 116.219 393.574 112.129C399.236 109.186 404.623 101.857 408.727 94.3894C448.108 92.0583 487.666 95.7524 525.982 93.9152C549.974 99.9405 572.998 88.7987 597.227 89.0357C572.485 83.0895 550.467 79.6521 526.297 84.7686C503.726 79.2767 478.255 77.5383 455.822 83.5636C439.939 84.5316 424.53 77.2223 408.47 81.4696C404.406 74.1602 399.118 67.088 393.574 64.2037C389.707 60.0947 388.937 52.1729 383.314 49.4862C374.258 42.3744 369.878 28.9015 362.164 20.2291C347.465 3.71387 348.747 -15.6856 332.115 -12.3272C329.688 -5.41298 321.342 -2.46949 317.041 2.90387L317.041 2.78534ZM370.075 130.245C359.323 130.008 364.748 138.68 357.152 142.631C353.482 148.261 349.497 152.271 344.052 156.499C337.6 158.909 333.851 161.853 331.74 165.033C329.234 161.458 325.288 158.336 319.843 155.472C314.417 145.199 300.251 139.569 294.904 129.375C293.267 123.33 285.631 121.157 282.297 116.614C280.146 109.146 270.597 100.316 262.35 94.5079C265.822 94.745 269.275 95.1796 272.708 95.8117C280.856 94.3499 289.774 93.0658 297.508 96.7995C307.512 93.7572 319.133 91.6434 329.53 94.2511C343.795 96.8587 359.027 93.046 373.804 94.2708C381.499 100.908 390.476 97.0168 399.335 95.2191C388.72 106.914 381.085 120.565 370.075 130.245ZM344.071 19.6561C349.517 23.864 353.483 27.894 357.172 33.5241C364.768 37.4751 359.342 46.1279 370.095 45.9106C380.532 55.0769 387.931 67.8189 397.717 79.0792C390.871 78.3483 384.084 80.4028 376.567 82.319C367.076 84.3736 357.073 76.9456 348.728 83.3463C327.084 74.6936 303.98 82.4573 281.902 81.3511C275.687 80.9955 269.512 81.0745 263.395 80.9757C271.406 75.1677 280.284 66.7521 282.356 59.581C285.69 55.0374 293.326 52.8643 294.963 46.8193C300.31 36.6257 314.476 30.9758 319.902 20.7229C325.348 17.8584 329.294 14.7372 331.799 11.1615C333.891 14.3421 337.659 17.3053 344.111 19.6956L344.071 19.6561Z" fill="#383632"/>
          </svg>
        </div>
        <div class="hb-bg-svg hb-bg-svg-left">
          <svg width="503" height="165" viewBox="0 0 503 165" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M120.012 63.3967C127.752 57.2891 130.28 44.5796 137.98 38.551C142.778 36.2581 143.43 29.5377 146.708 26.0391C154.191 22.1453 161.142 9.21836 164.222 0.817844C147.34 11.6891 139.896 29.933 126.745 41.4961C117.623 41.2984 122.224 48.6711 115.767 52.0116C112.647 56.7949 109.271 60.1947 104.65 63.7723C101.827 67.0337 100.444 71.8961 97.7591 75.4935C97.2852 75.4539 96.7916 75.4144 96.3177 75.3749C94.8171 70.3939 90.789 66.4209 84.0954 62.9026C79.4749 54.1858 67.4501 49.4025 62.9086 40.745C61.5265 35.6059 55.0303 33.7676 52.187 29.9133C50.3309 23.4894 42.0379 15.8795 34.969 10.938C36.9041 7.39989 38.5034 3.82227 39.6092 0.817842C22.7269 11.6891 15.2829 29.933 2.13257 41.4961C-6.98976 41.2984 -2.3891 48.6711 -8.84582 52.0116C-11.9656 56.7949 -15.342 60.1947 -19.9624 63.7723C-23.1612 67.4685 -24.5236 73.2995 -28.058 76.8969C-34.1198 77.1934 -40.1421 77.2922 -46.1052 76.8969C-57.4983 80.2571 -74.5187 69.5439 -82.2392 80.4349C-85.9118 82.3918 -92.7239 79.1304 -95.3105 83.3603C-78.5073 85.1195 -63.0467 88.618 -46.3817 90.7923C-42.9262 90.2191 -39.4708 87.8076 -36.1931 90.2586C-32.8956 87.5111 -30.7039 87.3728 -28.2357 88.0053C-24.6421 91.6027 -23.2797 97.4929 -20.0414 101.229C-15.421 104.806 -12.0446 108.226 -8.9248 112.989C-2.46809 116.33 -7.08849 123.703 2.05359 123.505C15.2237 135.068 22.6677 153.312 39.5302 164.183C38.4245 161.198 36.8448 157.641 34.9295 154.103C41.9984 149.161 50.3506 141.531 52.2067 135.088C55.0303 131.233 61.5265 129.375 62.9284 124.256C67.4698 115.599 79.4947 110.815 84.1151 102.098C91.2827 98.3231 95.3897 94.0537 96.6139 88.5785C99.8126 92.1957 101.195 97.6906 104.255 101.229C108.876 104.806 112.252 108.226 115.372 112.989C121.829 116.33 117.208 123.703 126.35 123.505C139.52 135.068 146.964 153.312 163.827 164.183C160.747 155.783 153.796 142.856 146.313 138.962C143.035 135.483 142.384 128.743 137.585 126.45C129.904 120.421 127.357 107.712 119.617 101.604C117.899 96.0896 115.648 92.0573 112.627 89.4087C115.214 89.3098 117.801 89.1122 120.427 88.8355C126.923 90.9899 132.57 95.7931 139.836 92.5515C152.335 89.3099 165.17 89.0331 177.609 91.3457C185.764 89.8831 194.689 88.5983 202.429 92.334C212.44 89.2901 224.07 87.1751 234.476 89.7842C238.523 90.5156 242.67 90.733 246.836 90.7132C244.763 94.1327 242.473 97.0581 239.412 99.9637C237.279 106.921 229.223 103.699 231.06 112.673C221.72 127.972 205.055 139.08 197.848 156.929C200.652 159.676 205.569 155.783 208.846 156.277C213.704 156.712 217.593 159.439 222.234 159.696C227.861 163.393 231.928 158.194 237.753 158.095C242.078 157.581 247.211 161.139 251.062 159.301C252.681 161.91 260.559 157.502 263.955 161.04C271.064 157.996 279.001 161.653 286.623 160.526C294.561 161.021 301.353 158.609 308.955 157.779C313.674 155.071 318.235 158.234 323.152 158.491C325.423 160.546 327.891 162.483 330.596 164.223C327.516 155.822 320.565 142.895 313.082 139.001C309.804 135.523 309.152 128.782 304.354 126.49C296.673 120.461 294.126 107.751 286.386 101.644C285.122 97.5918 283.563 94.3304 281.627 91.8399C289.407 95.9907 298.273 91.6027 306.862 90.3772C332.531 88.3611 358.299 89.211 383.809 89.7052C381.618 93.5595 381.559 98.9359 376.543 100.082C372.871 101.841 372.574 106.664 371.587 110.222C363.709 115.065 358.2 123.367 351.684 129.751C359.246 129.593 356.087 132.459 356.699 138.764C361.379 135.661 364.4 129.593 368.645 126.312C371.488 126.45 374.332 125.837 375.615 122.793C382.21 114.314 389.911 106.902 397.217 98.8173C399.527 96.1093 401.284 93.0654 402.903 89.9621C412.341 90.0017 421.74 89.9028 431.06 89.4482C455.07 95.4768 478.113 84.3288 502.36 84.566C477.6 78.6165 455.564 75.1772 431.376 80.2966C424.643 78.656 417.653 77.3712 410.564 76.5015C411.749 74.9796 413.072 73.5564 414.612 72.2914C419.114 70.8287 421.207 68.2987 422.096 63.6339C426.38 58.0006 432.699 54.1858 434.97 47.0503C444.665 40.2113 447.824 31.4946 447.922 19.7536C438.464 38.6696 416.962 47.584 406.852 66.4011C401.916 69.702 396.565 69.9985 394.255 75.3353C382.862 75.1179 371.508 76.2248 360.846 79.0711C344.378 80.0792 328.404 72.1728 311.7 77.4898C301.61 72.0937 292.29 75.197 281.509 77.9247C279.475 78.3595 277.422 78.3793 275.368 78.1619C280.522 75.9679 283.997 71.145 286.406 63.4165C294.146 57.3088 296.673 44.5994 304.374 38.5708C309.172 36.2779 309.824 29.5575 313.102 26.0589C320.585 22.165 327.535 9.23812 330.616 0.837606C326.193 3.68389 322.441 7.02434 319.045 10.6415C317.603 10.9578 316.162 11.2938 314.859 11.0961C310.002 10.6613 306.112 7.93358 301.472 7.67663C295.844 3.9804 291.777 9.17882 285.952 9.27765C281.627 9.79157 276.494 6.23371 272.643 8.07193C271.024 5.46283 263.146 9.87063 259.75 6.33252C252.641 9.37647 244.704 5.71981 237.082 6.84645C229.144 6.35231 222.352 8.76375 214.75 9.59392C209.597 12.5588 204.621 8.50678 199.171 8.9021C198.737 8.62537 198.302 8.36843 197.888 8.13123C205.095 25.9798 221.76 37.0685 231.099 52.3871C229.263 61.3411 237.319 58.139 239.452 65.0966C243.322 68.7928 245.987 72.5088 248.515 77.2329C228.374 71.5205 207.168 78.0037 186.791 76.9759C171.468 76.0864 156.521 77.9247 141.613 72.9239C131.997 76.0469 122.085 76.6992 112.114 76.4225C115.629 73.8134 118.156 69.5242 120.052 63.456L120.012 63.3967ZM-4.60058 63.3967C3.13957 57.2891 5.66699 44.5796 13.3677 38.551C18.1658 36.2581 18.8174 29.5377 22.0951 26.0391C26.1824 23.9044 30.0919 19.1013 33.3104 13.8238C41.406 28.4704 55.4844 38.7486 63.7774 52.3476C61.9411 61.3015 69.9972 58.0995 72.1297 65.0571C75.6246 68.3777 78.1323 71.7182 80.4425 75.8097C69.6221 79.2885 59.0188 73.418 47.606 77.9049C39.1155 72.41 30.9015 76.0864 21.404 77.4305C10.4454 75.0981 -0.750251 75.3354 -12.0051 75.9679C-8.76685 73.3192 -6.39741 69.1881 -4.60058 63.4165L-4.60058 63.3967ZM72.11 99.9834C69.9775 106.941 61.9214 103.719 63.7577 112.693C55.4449 126.312 41.327 136.61 33.2512 151.296C30.0129 145.979 26.0836 141.136 21.9766 139.001C18.6989 135.523 18.0473 128.782 13.2492 126.49C5.56825 120.461 3.0211 107.751 -4.71905 101.644C-6.37766 96.307 -8.54965 92.3538 -11.4325 89.7052C0.138291 89.7645 11.3931 90.397 23.2008 88.9145C27.5053 92.4526 29.6773 87.689 33.6856 86.3845C48.9487 87.9262 64.8832 90.9109 80.2845 89.4482C77.9941 93.4607 75.5259 96.7418 72.0902 100.023L72.11 99.9834ZM282.141 113.009C288.598 116.35 283.977 123.722 293.119 123.525C300.089 129.652 305.48 137.657 311.502 145.465C311.186 145.544 310.851 145.662 310.495 145.821C296.417 150.248 281.864 148.627 268.043 154.458C261.902 152.146 255.682 154.933 249.482 154.182C241.999 147.738 233.804 148.43 224.662 150.406C221.819 150.169 219.726 147.54 217.337 150.466C214.099 149.201 211.532 148.489 209.162 148.687C213.98 144.437 218.225 139.515 219.489 135.127C222.313 131.273 228.809 129.415 230.211 124.296C234.752 115.638 246.777 110.855 251.397 102.138C257.992 98.6789 262.001 94.785 263.541 89.9226C263.817 89.9226 264.094 89.8831 264.39 89.8831C266.917 93.4409 268.319 98.1254 271.044 101.288C275.664 104.866 279.041 108.285 282.161 113.049L282.141 113.009ZM251.378 62.9026C246.757 54.1858 234.732 49.4025 230.191 40.745C228.809 35.6059 222.313 33.7676 219.469 29.9133C218.679 27.146 216.685 24.1614 214.099 21.2756C227.881 17.2038 242.097 18.6269 255.623 12.8948C261.764 15.2074 267.983 12.4204 274.184 13.1715C281.667 19.6152 289.861 18.9234 299.003 16.9468C301.847 17.184 303.94 19.8129 306.329 16.8875C309.271 16.5515 311.502 16.848 313.437 17.0456C306.586 25.6043 300.82 34.6966 293.08 41.4961C283.957 41.2984 288.558 48.6711 282.101 52.0116C278.982 56.7949 275.605 60.1947 270.985 63.7723C268.043 67.172 266.66 72.3507 263.718 75.9679C262.376 70.7101 258.289 66.5593 251.338 62.9026L251.378 62.9026Z" fill="#383632"/>
          </svg>
        </div>
        <div class="hb-bg-svg hb-bg-svg-right">
          <svg width="599" height="164" viewBox="0 0 599 164" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M298.937 62.6602C294.313 53.9434 282.28 49.16 277.735 40.5026C276.352 35.3634 269.851 33.5252 267.006 29.6709C264.951 22.5749 255.051 14.0558 247.641 9.27242C249.242 6.2087 250.566 3.18451 251.514 0.595187C234.62 11.4664 227.171 29.7104 214.011 41.2734C204.882 41.0758 209.486 48.4485 203.025 51.7889C199.903 56.5723 196.524 59.972 191.9 63.5496C189.253 66.6133 187.869 71.1002 185.498 74.5988C183.503 74.4406 181.507 74.2825 179.511 74.1442C177.713 75.0732 175.915 75.7057 174.117 76.101C172.872 70.6654 168.762 66.4157 161.629 62.6799C157.005 53.9632 144.972 49.1798 140.427 40.5224C139.044 35.3832 132.543 33.545 129.698 29.6906C127.643 22.5947 110.927 8.34343 112.962 5.24019C114.562 2.17647 113.238 3.2043 114.207 0.614961C97.3124 11.4862 89.8632 29.7302 76.7035 41.2932C67.5747 41.0956 72.1786 48.4682 65.7173 51.8087C62.5953 56.592 59.2165 59.9918 54.5928 63.5694C51.1942 67.483 49.8702 73.7686 45.8591 77.3067C34.7148 78.0974 20.251 70.4282 13.276 80.2321C9.60074 82.1889 2.78379 78.9275 0.195313 83.1574C17.0105 84.9166 32.4821 88.4152 49.159 90.5894C52.6169 90.0162 56.0747 87.6048 59.3547 90.0557C65.0257 85.3317 67.4165 88.3361 73.6407 89.6209C89.053 88.9488 103.477 90.5894 118.85 88.6523C123.158 92.1904 125.331 87.4269 129.342 86.1223C143.134 87.5059 157.44 90.0755 171.43 89.4825C171.647 89.9174 181.171 88.6326 185.419 87.6443C189.134 91.2219 190.478 97.2308 193.758 101.026C198.381 104.603 201.76 108.023 204.882 112.787C211.344 116.127 206.72 123.5 215.868 123.302C229.048 134.865 236.497 153.109 253.372 163.98C252.285 160.996 251.929 159.731 250.012 156.212C257.086 151.271 264.2 141.348 266.057 134.905C268.883 131.05 275.383 129.192 276.786 124.073C281.331 115.415 293.365 110.632 297.988 101.915C304.706 98.3772 308.757 94.4042 310.239 89.4035C312.887 92.9811 314.27 97.804 317.076 101.046C321.699 104.623 325.078 108.043 328.2 112.806C334.661 116.147 330.038 123.519 339.186 123.322C352.366 134.885 359.815 153.129 376.69 164C373.607 155.599 366.652 142.673 359.163 138.779C355.883 135.3 355.231 128.56 350.429 126.267C342.743 120.238 340.194 107.529 332.448 101.421C330.611 95.5111 328.161 91.301 324.802 88.6721C326.639 88.8698 328.457 89.1663 330.235 89.6011C344.521 92.2102 359.776 88.3954 374.575 89.6209C383.013 96.8947 393.031 91.5184 402.693 90.1348C411.743 89.4232 420.792 89.0872 429.842 88.9488C430.198 89.5418 495.7 90.6882 526.959 89.2058C550.987 95.2344 574.046 84.0864 598.31 84.3236C573.532 78.3741 551.481 74.9348 527.275 80.0542C504.671 74.5593 479.161 72.8199 456.695 78.8485C455.174 78.9473 453.652 78.9473 452.15 78.9078C454.521 77.0695 457.071 74.8557 459.778 72.2664C471.159 68.4714 485.109 53.3899 496.392 49.674C502.023 49.2589 508.899 40.8979 514.59 38.1307C523.699 37.0633 541.008 24.0376 551.243 14.8069C528.757 19.9065 505.995 39.5538 485.524 47.4997C479.142 42.4001 475.447 54.3782 467.602 55.2677C460.805 59.7941 455.114 62.4032 448.396 64.5775C443.417 67.2063 437.963 72.5234 432.747 75.7847C431.403 70.5072 427.333 66.3564 420.338 62.6997C415.714 53.9829 403.681 49.1996 399.136 40.5421C397.753 35.403 391.252 33.5647 388.407 29.7104C386.352 22.6144 382.696 15.4987 375.287 10.7154C374.437 9.37127 371.967 3.22406 372.915 0.634724C356.021 11.506 348.572 29.7499 335.412 41.313C326.284 41.1153 330.887 48.488 324.426 51.8285C321.304 56.6118 317.925 60.0115 313.302 63.5892C311.543 65.6053 310.357 68.2539 309.053 70.8433C306.919 67.7993 303.58 65.1507 298.937 62.7195L298.937 62.6602ZM207.293 63.1543C215.038 57.0466 217.568 44.3372 225.274 38.3086C230.075 36.0157 230.727 29.2953 234.007 25.7967C238.769 23.326 241.476 19.3333 244.934 13.0477C245.744 11.1304 269.831 37.676 278.624 52.0854C276.786 61.0394 284.848 57.8373 286.982 64.7949C290.736 68.3725 293.345 71.9699 295.795 76.4765C291.329 76.7532 286.903 76.8916 282.497 76.6742C267.164 75.7847 252.206 77.623 237.287 72.6222C225.135 76.5754 212.49 76.5754 199.844 75.7254C203.104 73.0768 205.495 68.926 207.293 63.1543ZM69.9853 63.1543C77.7309 57.0466 80.2601 44.3372 87.9662 38.3085C92.7677 36.0157 93.4199 29.2953 96.6999 25.7967C101.462 23.326 105.987 17.2183 109.464 10.9328C117.25 27.0025 132.524 37.6958 141.316 52.0854C139.479 61.0394 147.541 57.8373 149.675 64.7949C153.33 68.2737 155.899 71.7525 158.29 76.0812C153.37 75.7057 148.39 75.6266 143.253 77.6427C134.756 72.1478 126.536 75.8243 117.032 77.1683C98.7153 73.2745 79.6475 76.5161 60.9157 76.8719C65.0059 74.3616 67.8908 69.8549 69.9853 63.1345L69.9853 63.1543ZM286.034 99.7213C283.9 106.679 275.838 103.457 277.676 112.431C269.357 126.049 248.274 151.903 246.574 148.602C243.334 143.285 239.995 140.874 235.885 138.739C232.605 135.26 231.952 128.52 227.151 126.227C219.465 120.199 216.916 107.489 209.17 101.382C207.451 95.8669 205.198 91.8149 202.155 89.1663C206.74 89.3837 211.403 89.0872 216.106 88.6128C222.606 90.7673 228.258 95.5704 235.529 92.3288C248.037 89.0872 260.88 88.8105 273.328 91.1231C279.889 89.9569 286.923 88.8895 293.463 90.4708C291.388 93.9101 289.077 96.8354 286.014 99.741L286.034 99.7213ZM328.694 63.1543C336.44 57.0467 338.969 44.3372 346.675 38.3086C351.477 36.0157 352.129 29.2953 355.409 25.7967C360.171 23.326 364.696 17.2183 368.173 10.9328C375.958 27.0025 391.232 37.6958 400.025 52.0854C398.188 61.0394 406.25 57.8373 408.384 64.7949C411.861 68.1156 414.351 71.4362 416.663 75.4882C413.64 75.7057 410.616 76.2394 407.554 77.2079C397.457 71.8118 388.13 74.915 377.342 77.6427C367.837 79.6984 357.819 72.2664 349.461 78.6705C340.688 75.172 331.658 74.3616 322.569 74.5593C325.177 71.9106 327.173 68.1353 328.714 63.1543L328.694 63.1543Z" fill="#383632"/>
          </svg>
        </div>
        <div class="hb-content">
          {%- if section.settings.title != blank -%}
            <div class="hb-text">
              {%- if section.settings.title != blank -%}
                <h2 class="hb-h2">{{ section.settings.title }}</h2>
              {%- endif -%}
              {%- if section.settings.text != blank -%}
                <p class="hb-p hb_small_p">{{ section.settings.text }}</p>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- form 'customer', id: newsletter_id, class: 'input-form' -%}
            <div class="hb-input hb_center">
              <div class="hb-input-wrapper">
                <input type="email" name="contact[email]" placeholder="E-mail" required>
              </div>
              <div class="hb-button">
                <button type="submit" class="hb-btn {{ section.settings.btn_type }}">
                  {{ section.settings.btn_label }}
                </button>
              </div>
            </div>
            {%- if form.posted_successfully? -%}
              <div class="form__banner banner banner--success">
                <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
                <p class="banner__content">{{ 'general.newsletter.success' | t }}</p>
              </div>
            {%- else -%}
              {%- if form.errors -%}
                <div class="form__banner banner banner--error">
                  <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
                  <p class="banner__content">{{ form.errors.messages.email }}</p>
                </div>
              {%- endif -%}
            {%- endif -%}
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "HB Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Text"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HB Newsletter"
    }
  ]
}
{% endschema %}
