{{ 'hb-review-section.css' | asset_url | stylesheet_tag }}
<div class="hb_review_section">
  <div class="container">
    <div class="hb-wrapper">
      {% if section.settings.main_title %}
        <h2 class="hb-h2">{{ section.settings.main_title }}</h2>
      {% endif %}
      <div class="hb-main-grid" js-review-grid>
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide hb-review-grid">
              <div class="hb-review-inner">
                <div class="hb-client-review hb_flex">
                  {% if block.settings.name_text != blank %}
                    <h3 class="hb-h3">{{ block.settings.name_text }}</h3>
                  {% endif %}
                  <ul class="review-grid hb_align-center">
                    {% for star in (1..5) %}
                      <li class="hb-star-icon">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.82632 0.00985813C6.78224 0.0388021 5.788 2.06001 5.17579 3.36246C5.03375 3.66637 4.95049 3.79179 4.87702 3.80626C4.81825 3.81591 4.62234 3.84967 4.43133 3.87862C3.45668 4.01851 0.762934 4.46231 0.72865 4.48643C0.704161 4.5009 0.68457 4.52502 0.68457 4.54431C0.68457 4.57326 2.76121 6.54623 3.54484 7.26016L3.77993 7.47724L3.48117 9.32961C3.31955 10.3523 3.17262 11.3122 3.15302 11.4714C3.11874 11.7512 3.11874 11.7512 3.23629 11.7174C3.29996 11.6981 3.82891 11.428 4.40684 11.1145C4.98477 10.8057 5.80269 10.3716 6.219 10.1497L6.97815 9.74447L8.89316 10.7044C9.94617 11.2302 10.8278 11.6451 10.8571 11.6306C10.8865 11.6113 10.8767 11.4377 10.818 11.1289C10.769 10.8684 10.627 10.0918 10.5045 9.40197C10.3821 8.71215 10.2498 7.98375 10.2058 7.78597L10.1372 7.429L11.6653 5.91912C12.6448 4.94952 13.1787 4.39477 13.1493 4.36583C13.1052 4.32242 11.0482 4.02333 9.59843 3.84967C9.236 3.80626 8.91275 3.74837 8.88336 3.71461C8.85398 3.68566 8.41808 2.85595 7.91361 1.8767C7.40915 0.892631 6.97325 0.0677452 6.93897 0.0339775C6.90468 0.000210762 6.85571 -0.00943756 6.82632 0.00985813Z" fill="#D4C091"/>
                        </svg>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                {% if block.settings.inner_title != blank %}
                  <h3 class="hb-inner-h2">{{ block.settings.inner_title }}</h3>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="hb-p">{{ block.settings.text }}</div>
                {% endif %}
                {% assign current_date = 'now' | date: '%s' %}
                {% assign given_date = some_date_variable | date: '%s' %}
                {% assign difference_in_days = current_date | minus: given_date | divided_by: 86400 %}
                {% if difference_in_days == 1 %}
                  <div class="hb-tag">Vor einem Tag</div>
                {% else %}
                  <div class="hb-tag">{{ difference_in_days }}Tagen</div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="hb-arrow-grid">
        <div class="swiper-button-prev">
          <div class="icon-1">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 16L24 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 11L10 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 21L10 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="16" cy="16" r="15.25" transform="rotate(-180 16 16)" stroke="white" stroke-width="1.5"/>
            </svg>
          </div>
          <div class="icon-2">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="19" cy="19" r="19" fill="#D4C091"/>
              <path d="M25 19H11" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 24L25 19" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 14L25 19" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="19" cy="19" r="15.25" stroke="black" stroke-width="1.5"/>
            </svg>
          </div>
        </div>
        <div class="swiper-button-next">
          <div class="icon-1">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 16L24 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 11L10 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 21L10 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="16" cy="16" r="15.25" transform="rotate(-180 16 16)" stroke="white" stroke-width="1.5"/>
            </svg>
          </div>
          <div class="icon-2">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="19" cy="19" r="19" fill="#D4C091"/>
              <path d="M25 19H11" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 24L25 19" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 14L25 19" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="19" cy="19" r="15.25" stroke="black" stroke-width="1.5"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="hb_rating hb_center">
        <h3 class="hb_rating--title">{{- section.settings.rating_title -}}</h3>
        <div class="hb_star--icons hb_align-center">
          {%- for icon in (1..5) -%}
            <div class="hb_star-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                <path d="M6.90908 0.00985813C6.865 0.0388021 5.87077 2.06001 5.25855 3.36246C5.11652 3.66637 5.03325 3.79179 4.95979 3.80626C4.90102 3.81591 4.70511 3.84967 4.51409 3.87862C3.53945 4.01851 0.845698 4.46231 0.811414 4.48643C0.786925 4.5009 0.767334 4.52502 0.767334 4.54431C0.767334 4.57326 2.84397 6.54623 3.62761 7.26016L3.8627 7.47724L3.56394 9.32961C3.40231 10.3523 3.25538 11.3122 3.23579 11.4714C3.2015 11.7512 3.2015 11.7512 3.31905 11.7174C3.38272 11.6981 3.91167 11.428 4.48961 11.1145C5.06754 10.8057 5.88546 10.3716 6.30176 10.1497L7.06091 9.74447L8.97592 10.7044C10.0289 11.2302 10.9105 11.6451 10.9399 11.6306C10.9693 11.6113 10.9595 11.4377 10.9007 11.1289C10.8518 10.8684 10.7097 10.0918 10.5873 9.40197C10.4648 8.71215 10.3326 7.98375 10.2885 7.78597L10.2199 7.429L11.748 5.91912C12.7276 4.94952 13.2614 4.39477 13.232 4.36583C13.188 4.32242 11.1309 4.02333 9.6812 3.84967C9.31876 3.80626 8.99551 3.74837 8.96613 3.71461C8.93674 3.68566 8.50084 2.85595 7.99638 1.8767C7.49191 0.892631 7.05602 0.0677452 7.02173 0.0339775C6.98745 0.000210762 6.93847 -0.00943756 6.90908 0.00985813Z" fill="white"/>
              </svg>
            </div>
          {%- endfor -%}
        </div>
        <h3 class="hb_rating--title hb_rating--text">{{- section.settings.rating_text -}}</h3>
      </div>
    </div>
  </div>
</div>
<script>
  // Assign some jquery elements we'll need
  const swiper = new Swiper('[js-review-grid]', {
    // Optional parameters
    slidesPerView: 5,
    spaceBetween: 29,
    mousewheel: false,
    // If we need navigation
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      1279: {
        slidesPerView: 5,
        spaceBetween: 29,
      },
      990: {
        slidesPerView: 4,
        spaceBetween: 29,
      },
      767: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      480: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      0: {
        slidesPerView: 1,
      },
    },
  });
</script>
{% schema %}
{
  "name": "Hb Review Section",
  "blocks": [
    {
      "name": "Review Item",
      "type": "review-item",
      "settings": [
        {
          "type": "text",
          "id": "name_text",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "inner_title",
          "label": "Sub Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Das sagen unsere kunden"
    },
    {
      "type": "text",
      "id": "rating_title",
      "label": "Rating Left Text"
    },
    {
      "type": "richtext",
      "id": "rating_text",
      "label": "Rating Right Text"
    }
  ],
  "presets": [
    {
      "name": "Hb Review Section"
    }
  ]
}
{% endschema %}
